.themes {
  font-size: 16px;
  /* h1 - h6 */
}
.themes.chengxin {
  /* Block Elements */
  /* Inline Elements */
}
.themes.chengxin h1 {
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  display: table;
  margin-top: 30px;
  margin-bottom: 15px;
}
.themes.chengxin h1 .content {
  font-size: 24px;
}
.themes.chengxin h2 {
  border-bottom: 2px solid #ef7060;
  font-size: 1.3em;
}
.themes.chengxin h2 .content {
  display: inline-block;
  font-weight: bold;
  background: #ef7060;
  color: #ffffff;
  padding: 3px 10px 1px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-right: 3px;
}
.themes.chengxin h2:after {
  display: inline-block;
  content: " ";
  vertical-align: bottom;
  border-bottom: 36px solid #efebe9;
  border-right: 20px solid transparent;
}
.themes.chengxin blockquote {
  border-left-color: #ef7060;
  background: #fff9f9;
}
.themes.chengxin blockquote p {
  margin: 0px;
  color: black;
  line-height: 26px;
}
.themes.chengxin .wx_link {
  color: #ef7060;
  border-bottom: 1px solid #ef7060;
}
.themes.chengxin p code,
.themes.chengxin i code {
  color: #ef7060;
}
.themes.mohei {
  /* Block Elements */
  /* Inline Elements */
}
.themes.mohei p {
  font-size: 17px;
  word-spacing: 3px;
  letter-spacing: 1px;
}
.themes.mohei h2 .content {
  background-color: #5c5c5c;
  color: white;
  padding: 5px 15px;
  border-radius: 1px;
}
.themes.mohei hr {
  border-top: 1px dashed #dddddd;
}
.themes.mohei .wx_link {
  color: #ef7060;
  border-bottom: 1px solid #ef7060;
}
.themes.mohei p code,
.themes.mohei i code {
  color: #ef7060;
}
.themes p {
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  line-height: 26px;
  color: black;
}
.themes h1,
.themes h2,
.themes h3,
.themes h4,
.themes h5,
.themes h6 {
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 0;
  font-weight: bold;
  color: black;
}
.themes h1 {
  font-size: 24px;
}
.themes h2 {
  font-size: 22px;
}
.themes h3 {
  font-size: 20px;
}
.themes h4 {
  font-size: 18px;
}
.themes hr {
  height: 1px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-top: 1px solid rgba(0, 0, 0);
}
.themes strong {
  font-weight: bold;
}
.themes figure {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.themes figure img {
  display: block;
  margin: 0 auto;
  width: auto;
  max-width: 100%;
}
.themes figure figcaption {
  margin-top: 5px;
  text-align: center;
  color: #888;
  font-size: 14px;
}
.themes blockquote {
  display: block;
  font-size: 0.9em;
  overflow: auto;
  border-left: 3px solid rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.05);
  color: #6a737d;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.themes .link {
  padding-bottom: 1px;
  border-bottom: 1px solid #999;
}
.themes .wx_link {
  text-decoration: none;
  color: #1e6bb8;
  word-wrap: break-word;
  font-weight: bold;
  border-bottom: 1px solid #1e6bb8;
}
.themes .ol,
.themes .ul {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 15px;
  color: black;
}
.themes .listitem {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 26px;
  text-align: left;
  color: #010101;
  font-weight: 500;
  text-indent: -1em;
  display: block;
}
.themes table {
  display: table;
  text-align: left;
}
.themes table thead tr td {
  font-weight: bold;
  background-color: #f0f0f0;
}
.themes table tr {
  border: 0;
  border-top: 1px solid #ccc;
  background-color: white;
}
.themes table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.themes table tr td {
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-align: left;
}
.themes p code,
.themes li code {
  font-size: 14px;
  word-wrap: break-word;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 0 2px;
  color: #1e6bb8;
  background-color: rgba(27, 31, 35, 0.05);
  font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
  word-break: break-all;
}
.themes .footnotes {
  margin: 0.5em 8px;
  font-size: 80%;
}
.themes.fonts-no-cx {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, PingFangSC-light, PingFangTC-light, "Open Sans", "Helvetica Neue", sans-serif;
}
.themes.fonts-cx {
  font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light, "PingFang SC", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
