.themes {
  font-size: 16px;
  /* BASE styles */
  /* BASE_BLOCK styles */
  /* h1 - h6 */
}
.themes.default {
  /* Block Elements */
  /* Inline Elements */
}
.themes.default h1 {
  text-align: center;
  font-weight: bold;
  display: table;
  margin: 2em auto 1em auto;
  padding: 0 1em;
  border-bottom: 1px solid #f83929;
}
.themes.default h2 {
  border-bottom: 2px solid #ef7060;
  font-size: 1.3em;
}
.themes.default h3 {
  font-weight: bold;
  font-size: 1.1em;
  margin: 2em 8px 0.75em 0;
  padding-bottom: 0.1em;
  padding-left: 8px;
  border-left: 4px solid #f83929;
}
.themes.default h4 {
  font-weight: bold;
  font-size: 1em;
  margin: 2em 8px 0.5em 8px;
}
.themes.default p {
  margin: 1.5em 0;
  letter-spacing: 0.034em;
}
.themes.default blockquote {
  font-style: normal;
  border-left: none;
  padding: 1em;
  border-radius: 4px;
  color: #feeeed;
  background: rgba(27, 31, 35, 0.05);
  margin: 2em 8px;
}
.themes.default .blockquote_p {
  letter-spacing: 0.034em;
  color: #505050;
  font-family: PingFangSC-light, PingFangTC-light, Open Sans, Helvetica Neue, sans-serif;
  font-size: 1em;
  display: inline;
}
.themes.default .image {
  border-radius: 4px;
  display: block;
  margin: 2em auto;
  width: 100%;
}
.themes.default .image_org {
  border-radius: 4px;
  display: block;
}
.themes.default .ol {
  margin-left: 0;
  padding-left: 1em;
}
.themes.default .ul {
  margin-left: 0;
  padding-left: 1em;
  list-style: circle;
}
.themes.default .footnotes {
  margin: 0.5em 8px;
  font-size: 80%;
}
.themes.default .listitem {
  text-indent: -1em;
  display: block;
  margin: 0.5em 8px;
}
.themes.default .codespan {
  font-size: 90%;
  color: #d14;
  background: rgba(27, 31, 35, 0.05);
  padding: 3px 5px;
  border-radius: 4px;
}
.themes.default .link {
  color: black;
}
.themes.default .wx_link {
  color: #0080ff;
  text-decoration: none;
  border-bottom: 1px solid #d1e9ff;
}
.themes.default strong {
  font-weight: bold;
}
.themes.default table {
  border-collapse: collapse;
  text-align: center;
  margin: 1em 8px;
}
.themes.default thead {
  background: rgba(0, 0, 0, 0.05);
}
.themes.default td {
  font-size: 80%;
  border: 1px solid #dfdfdf;
  padding: 0.25em 0.5em;
}
.themes.chengxin {
  /* Block Elements */
  /* Inline Elements */
}
.themes.chengxin h1 {
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  display: table;
  margin-top: 30px;
  margin-bottom: 15px;
}
.themes.chengxin h1 .content {
  font-size: 24px;
}
.themes.chengxin h2 {
  border-bottom: 2px solid #ef7060;
  font-size: 1.3em;
}
.themes.chengxin h2 .content {
  display: inline-block;
  font-weight: bold;
  background: #ef7060;
  color: #ffffff;
  padding: 3px 10px 1px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-right: 3px;
}
.themes.chengxin h2:after {
  display: inline-block;
  content: " ";
  vertical-align: bottom;
  border-bottom: 36px solid #efebe9;
  border-right: 20px solid transparent;
}
.themes.chengxin h4 {
  font-weight: bold;
  font-size: 1em;
  margin: 2em 8px 0.5em 8px;
}
.themes.chengxin blockquote {
  border-left-color: #ef7060;
  background: #fff9f9;
}
.themes.chengxin blockquote p {
  margin: 0px;
  color: black;
  line-height: 26px;
}
.themes.chengxin .footnotes {
  margin: 0.5em 8px;
  font-size: 80%;
}
.themes.chengxin .codespan {
  font-size: 90%;
  color: #d14;
  background: rgba(27, 31, 35, 0.05);
  padding: 3px 5px;
  border-radius: 4px;
}
.themes.chengxin .wx_link {
  color: #ef7060;
  border-bottom: 1px solid #ef7060;
}
.themes h1,
.themes h2,
.themes h3,
.themes h4,
.themes p,
.themes blockquote,
.themes .image,
.themes .ol,
.themes .ul,
.themes .footnotes,
.themes .listitem,
.themes .codespan,
.themes .link,
.themes .wx_link,
.themes strong,
.themes table,
.themes thead,
.themes td {
  text-align: justify;
  color: #3f3f3f;
  line-height: 1.6;
}
.themes h1,
.themes h2,
.themes h3,
.themes h4,
.themes p,
.themes blockquote,
.themes .image,
.themes .ol,
.themes .ul,
.themes .footnotes {
  margin: 1em 8px;
}
.themes p {
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  line-height: 26px;
  color: black;
}
.themes h1,
.themes h2,
.themes h3,
.themes h4,
.themes h5,
.themes h6 {
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 0;
  font-weight: bold;
  color: black;
}
.themes h1 {
  font-size: 24px;
}
.themes h2 {
  font-size: 22px;
}
.themes h3 {
  font-size: 20px;
}
.themes h4 {
  font-size: 18px;
}
.themes hr {
  height: 1px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-transform-origin: 0 0;
  -webkit-transform: scale(1, 0.5);
  transform-origin: 0 0;
  transform: scale(1, 0.5);
}
.themes strong {
  font-weight: bold;
}
.themes .image {
  border-radius: 4px;
  display: block;
  margin: 2em auto;
  width: 100%;
}
.themes blockquote {
  display: block;
  font-size: 0.9em;
  overflow: auto;
  border-left: 3px solid rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.05);
  color: #6a737d;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.themes .link {
  padding-bottom: 1px;
  border-bottom: 1px solid #999;
}
.themes .wx_link {
  text-decoration: none;
  color: #1e6bb8;
  word-wrap: break-word;
  font-weight: bold;
  border-bottom: 1px solid #1e6bb8;
}
.themes .ol,
.themes .ul {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 15px;
  color: black;
}
.themes .listitem {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 26px;
  text-align: left;
  color: #010101;
  font-weight: 500;
  text-indent: -1em;
  display: block;
}
.themes table {
  display: table;
  text-align: left;
}
.themes table thead tr td {
  font-weight: bold;
  background-color: #f0f0f0;
}
.themes table tr {
  border: 0;
  border-top: 1px solid #ccc;
  background-color: white;
}
.themes table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.themes table tr td {
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-align: left;
}
.themes .codepsan,
.themes code {
  font-family: Menlo, Operator Mono, Consolas, Monaco, monospace;
}
.themes .codepsan {
  white-space: normal;
}
.themes.fonts-no-cx {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, PingFangSC-light, PingFangTC-light, "Open Sans", "Helvetica Neue", sans-serif;
}
.themes.fonts-cx {
  font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light, "PingFang SC", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
