/* Block Elements */

p {
  font-size: 17px;
  word-spacing: 3px;
  letter-spacing: 1px;
}

h2 {
  .content {
    background-color: #5c5c5c;
    color: white;
    padding: 5px 15px;
    border-radius: 1px;
  }
}

img {
  border-radius: 5px;
}

hr {
  border-top: 1px dashed #dddddd;
}
